
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@font-face {
    font-family: bolditalic;
    src: url(assets/fonts/Poppins-ExtraBoldItalic.ttf);
}
:root{
    --hlight: hsl(259, 100%, 65%);
    --warn: hsl(0, 100%, 67%); 
    --offwhite: hsl(0, 0%, 94%);
    --line: hsl(0, 0%, 86%);
    --input: hsl(0, 1%, 44%);
    --age: hsl(0, 0%, 8%);
}
body {
    background-color: var(--offwhite);
    font-family:'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 50px;
    }

.app{
    width: 29pc;
    height: 20pc;
    background-color: white;
    border-radius: 15px;
    border-bottom-right-radius: 30%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 39px;
    margin-bottom: 100px;
}

.all_inputs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
}
.input{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-right: 20px;
    /* margin: auto; */
    /* padding: 10px; */
    /* background-color: aqua; */
    /* margin-top: 25px; */
}

input{
    height: 47px;
    width: 90px;
    border-radius: 6px;
    border: 0.5px hsl(0, 0%, 86%) solid;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

label{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: xx-small;
    letter-spacing: 3px;
    margin-bottom: 5px;
    color: var(--input);
}

input::placeholder{
    font-family: 'Poppins', sans-serif;
    /* box-sizing: border-box; */
    font-weight: 800;
    font-size: larger;
    color: var(--input);

}

.line_button{
    display:flex ;
    align-items: center;
    justify-content:space-between;
    margin-top: auto;
    margin-top: 7px;
}

.line{
    width: 90%;
    height: 1px;
    background-color: var(--line);
}
button{
    background-color: var(--hlight);
    border: none;
    border-radius: 100%;
    padding: 10px;
}

button a svg {
    width: 34px; 
    height: 34px;
  }

.ans{
    font-family: bolditalic;
    font-size: 3.8rem;
    line-height: 4.2pc;
}
br{
    margin: 0;
}

.ans > br::before  {
    content: '- -'; /* Add a hyphen before each line */
    color: var(--hlight);   /* Change the color of the hyphens to red or any other color */
    margin-right: 5px; /* Add some space between the hyphen and the text */
  }
  
